.nav {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  color: rgb(234, 223, 14);
}
.link {
  padding-right: 10px;
  text-decoration: none;
  color: rgb(234, 223, 14);
}
.link:hover,
.link:active {
  color: rgb(96, 95, 95);
}
