.nav {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  color: khaki;
}
.link {
  padding-right: 10px;
  text-decoration: none;
  color: khaki;
}
.link :hover {
  color: blue;
}
