.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: rgb(96, 95, 95);
  background-color: khaki;
}
.text {
  padding-right: 15px;
}
.img {
  animation: animate125 2000ms infinite 1000ms;
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
