.container__box {
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  
  background-color: rgb(245, 239, 206);
  max-width: 320px;
  padding-left: 25px;
  padding-right: 25px;

  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 6px;
  overflow: hidden;
}
.text {
  color: rgb(96, 95, 95);
}
