.contact__item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px 0 5px 0;
}

.delete__button {
  display: block;
  margin-left: 15px;
  background-color: rgb(224, 230, 240);
  color: black;
  min-width: 50px;
  height: 25px;
  cursor: pointer;
  background-color: darkgray;
  color: white;
  border-radius: 4px;
  border-color: darkgrey;
  box-shadow: azure;
}
.delete__button:hover,
.delete__button:focus {
  background-color: dimgrey;
}
