.container {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.name {
  font-weight: bold;
  margin-right: 12px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 8px 12px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid ;
  border-radius: 4px;
  cursor: pointer;
}